<div class="container">
  <%= simple_form_for [:mine, @my_product] do |f| %>
    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category_id, collection: @categories %>
    <%= f.input :price %>
    <%= f.input :address %>
    <%= f.input :photos, as: :attachinary %>
    <br>
    <%= f.submit "Gravar", class: "btn btn-primary" %>
  <% end %>
</div>

