<div class="container">
  <h2><%= @my_product.name %></h2>
  <h4><%= @my_product.description %></h4>
  <h4><%= @my_product.category.name %></h4>
  <h4><%= @my_product.price %></h4>

  <%= link_to "Editar", edit_mine_product_path(@my_product), class: "btn btn-primary" %>

  <%= link_to "Deletar", mine_product_path(@my_product), class: "button-show btn btn-danger", method: :delete, data: { confirm: "Você tem certeza?" } %>

  <%= link_to "Ir para os meus produtos",  mine_products_path, method: "get", class: "button-show btn btn-warning" %>
<br>

  <% if @my_product.photos? %>
    <% @my_product.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
    <% end %>
  <% end %>



  <div id="map" style="width: 50%; height: 500px;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>

  <% @questions.each do |question| %>
    <h2><%= question.user.first_name %></h2>
    <%= question.question %>

    <% if question.answer.nil? %>
      <%= simple_form_for(question, url: mine_answer_path(question)) do |form| %>
        <%= form.input :answer %>
        <%= form.button :submit %>
      <% end %>
    <% else %>
      <h4><%= question.answer %></h4>
    <% end %>
  <% end %>

  <br>
</div>
