  <% if @order_itens.size == 0 %>
    <h3 class="text-center">
      Você não escolheu nenhum resíduo de outras <strong>Kasambas</strong>.
      <br>
      <br>
      Por favor, <%= link_to "volte", root_path %> e navegue pelas categorias.
    </h3>
  <div class="products-flexbox-order">
      <% @products.each do |product| %>
        <div class="card-product">
                  <!-- <div class="products-flex-item"> -->
                    <div class="card-product-user text-center">
                      <h3 id="card-text-user"> <%= product.category.name %>
                        <% if current_user.address.present? %>
                          <span style="font-weight: normal; margin-left: 10px;">
                            <%="(#{(product.distance_from(current_user)).to_i} km)"%>
                          </span>
                        <% end %>
                      </h3>
                    </div>
                    <div class="card-category text-center">
                    <h5 id="card-text-category"> Resíduo de <%= product.user.first_name %></h5>
                  </div>

                  <hr>
                  <div style="padding: 0 20px">
                    <div class="product-photo" style="
                    background-image: url('<%= product.photos.first.fullpath %>');
                    height: 200px;
                    width: 100%;
                    background-size: cover;">
                    </div>
                  </div>
                  <div class="card-description text-center">
                    <h4><strong>R$ <%= product.price %></strong></h4>
                  </div>
                  <br>
                  <br>
                  <div class="text-center card-button-center ">
                    <%= link_to "Ver detalhes", product_path(product), class: "card-button btn btn-success"%>
                  </div>
                </div>
      <%end%>
  </div>

  <% else %>
    <div>
      <h3>Você está retirando <strong><%= current_order.order_itens.size %></strong> resíduo(s) de outra(s) <strong>Kasamba(s)</strong>:</h3>
    </div>

    <br>

    <div>
      <% @order_itens.each do |order_iten| %>
        <%= render 'orders/order_row', product: order_iten.product, order_iten: order_iten, show_total: true %>
      <% end %>
    </div>

    <br>

    <div class="text-right">
      <h3>Total: R$ <strong><%= current_order.subtotal %></strong></h3>
    </div>

    <div class="padded text-right">
      <%= link_to 'Finalizar', close_orders_path, class: "text-right btn-order btn btn-success" %>
    </div>
  <% end %>
