<div class="well">

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div style="display: flex;">
        <div style="
        display: flex;
        justify-content: center;
        flex: 0 0 20%;
        align-items: center;">
          <% if product.photos? %>
            <div style="
            background-image: url('<%= product.photos.first.fullpath %>');
            height: 100%;
            width: 90%;
            background-size: cover;"></div>
          <% end %>
        </div>
        <div style="flex: 1 1 auto;">
          <h4><%= product.name %></h4>
          <p><%= product.category.root.name %> > <%= product.category.name %></p>
        </div>
      </div>
      </div>
    <div class="col-xs-12 col-sm-4">
      <%= form_for order_iten, remote: true do |f| %>
        <h4 class="text-right">Valor: <span style="color: green">R$ <%= order_iten.unit_price %></span></h4>
        <div class="row">
          <div class="col-xs-12 text-right">
            <div class="btn-group">
              <%= link_to "Deletar", order_iten, { data: { confirm: "Você tem certeza que não quer mais o resíduo '#{order_iten.product.name}'?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
        <!-- <h4 class="text-right">Total Price: <span style="color: green"><%#= number_to_currency order_iten.total_price %></span></h4> -->
      <% end %>
    </div>
  </div>
</div>
