<div class="container padded">
  <div class="row">
    <div class="col-xs-4">
      <h3>Resumo da <strong>Kasamba</strong></h3>
      <br>
      <% @order_itens.each do |order_iten| %>
        <div class="well">
          <div class="row">
            <div class="col-xs-8">
              <h4><%= order_iten.product.name %></h4>
              <p><%= order_iten.product.category.root.name %> > <%= order_iten.product.category.name %></p>
            </div>
            <div class="col-xs-4 text-right">
              <h4>Valor</h4>
              <h4><span style="color: green">R$ <%= order_iten.unit_price %></span></h4>
            </div>
          </div>
        </div>
      <% end %>
      <h4 class="text-right">Total: R$ <strong><%= current_order.subtotal %></strong></h4>
      <div class="btn-group">
        <%= link_to "Editar Kasamba", orders_path, class: "btn btn-danger" %>
      </div>
    </div>
    <div class="col-xs-8">
    <h3>Informações de Pagamento</h3>

    <br>
    <%= simple_form_for current_order, url: pay_orders_path, method: :post do |f| %>
    <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :card_name, label: "Nome do Titular", :input_html => {:style => 'width: 400px'}, hint: "Nome impresso no cartão" %>
        <%= f.input :card_number, label: "Número do Cartão", :input_html => {:style => 'width: 400px;'} %>
        <%= f.input :card_expiration, label: "Validade", :input_html => {:style => 'width: 400px'} %>
        <%= f.input :security_number, label: "Número de Segurança", :input_html => {:style => 'width: 400px'} %>
        <%= f.input :address, label: "Endereço do Titular", :input_html => {:style => 'width: 400px'} %>
        <%= f.input :zip_code, label: "CEP", :input_html => {:style => 'width: 400px'} %>
        <%= f.input :city, label: "Cidade", :input_html => {:style => 'width: 400px'} %>
        <%= f.input :state, label: "Estado", :input_html => {:style => 'width: 400px'} %>
        <%= f.input :country, as: :string, label: "País", :input_html => {:style => 'width: 400px'} %>
      </div>
    <div class="form-actions">
      <%= f.submit "Confirmar pagamento", class: "btn btn-success" %>
    </div>
    <% end %>
    </div>
  </div>
</div>


