<div class="wrapper-products">
  <div class="flexbox-all-div">
    <div class = "container container-products">
      <%= select_tag "category", options_for_select(@categories.map{|c| [c.name, "/products?category=#{c.id}"] }), id: "selectbox_categories", class: "dropdown-index", prompt: "Navegue em outra categoria"%>
      <div class="row-products">
        <div class="col-md-8">
          <div class="products-flexbox">

              <%if @products.empty? %>
                <div class="category-empty">
                  <h2> Seja o primeiro a vender algum resíduo nesta categoria!</h2>
                  <%= link_to 'Kasambe um novo resíduo!', new_mine_product_path, class: "btn btn-success button-index-kassambe"  %>
                </div>
              <%end%>

              <% @products.each do |product| %>
                <div class="card-product">
                  <!-- <div class="products-flex-item"> -->
                    <div class="card-product-user text-center">
                      <h3 id="card-text-user"> <%= product.name %></h3>
                        <% if current_user.address.present? %>
                          <h4 id="card-text-user"><span style="font-weight: normal; margin-left: 10px;">
                            <%="(#{(product.distance_from(current_user)).to_i} km)"%>
                          </span>
                        <% end %>
                      </h4>
                    </div>
                    <div class="card-category text-center">
                    <h5 id="card-text-category"> Resíduo de <%= product.user.first_name %></h5>
                  </div>

                  <hr>
                  <div style="padding: 0 20px">
                    <div class="product-photo" style="
                    background-image: url('<%= product.photos.first.fullpath %>');
                    height: 200px;
                    width: 100%;
                    background-size: cover;">
                    </div>
                  </div>
                  <div class="card-description text-center">
                    <h4><strong>R$ <%= product.price %></strong></h4>
                  </div>
                  <br>
                  <br>
                  <div class="text-center card-button-center ">
                    <%= link_to "Ver detalhes", product_path(product), class: "card-button btn btn-success"%>
                  </div>
                </div>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="map affix-top">
  <div id="map">
    <% content_for(:after_js) do %>
     <%= javascript_tag do %>
         $(document).ready(function() {
           var handler = Gmaps.build('Google');
           handler.buildMap({ internal: { id: 'map' } }, function() {
           markers = handler.addMarkers(<%= raw @hash.to_json %>);
           handler.bounds.extendWith(markers);
           handler.fitMapToBounds();
           if (markers.length == 0) {
            handler.getMap().setZoom(6);
           }
           });

            $('.map').affix({
              offset: {
                top: 70,
                bottom:  function () {
                  return (this.bottom = $('.footer').outerHeight(true))
                }
              }
            })
         });
      <% end %>
    <% end %>
  </div>
</div>


