<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card-serv" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%#= cl_image_path background_url(@service), height: 300, width: 400, crop: :fill %>')">

        <div class="card-user-service">
          <%= @product.name %>
        </div>
        <div class="card-category-service">
          <%= @product.price %>
        </div>
        <div class="card-description-service">
          <h2><%= @product.description %></h2>
          <h6>Visualizações: <%= @product.view %></h6>
        </div>

      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <h2>Questoões para esse produto</h2>

  <%= simple_form_for([ @product, @question ]) do |form| %>
    <%= form.input :question %>
    <%= form.button :submit %>
  <% end %>

  <% @questions.each  do |question| %>
    <%= question.question %>
    <% if question.answer != nil %>
      <h4><%= question.answer %></h4>
    <% end %>
  <% end %>

  <br>
  <br>
  <br>
  <%= @distance %>
  <br>
  <br>
  <br>

  <div class="well">
    <div class="row">
      <div class="col-xs-4">
        <%= form_for @order_iten, remote: true do |f| %>
        <h4 class="text-right">Preço: <span style="color: green"><%= number_to_currency @product.price %></span></h4>
          <div class="input-group">
            <div class="input-group-btn">
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.submit "Adicione à Kasamba!", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

