
<div class="container">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))')">
      <div class="card-user-service">
        <%= @product.name %>
      </div>
      <div class="card-category-service">
        <%= @product.price %>
      </div>
       <div class="card-description-service">
        <h2><%= @product.description %></h2>
        <h6>Views: <%= @product.view  %></h6>
        </div>
      </div>
    </div>
</div>

<%= @distance%>




