<div class="wrapper-products">
	<div class="container">
		 <h3><%= @product.name %></h3>
		 <h4><%= @product.description %></h4>
		 <h4><%= @product.price %></h4>
	 	<% if current_user.address.present? %>
	 		<span style="font-weight: normal; margin-left: 10px;">
			<%="(#{(@product.distance_from(current_user)).to_i} km)"%>
			</span>
		<% end %>
	</div>
	<div class="container">
		<%= form_for @order_iten, remote: true do |f| %>
		<span style="color: green"><%= number_to_currency @product.price %></span>
		<div class="input-group">
			<div class="input-group-btn">
				<%= f.hidden_field :product_id, value: @product.id %>
				%= f.submit "Quero esse resíduo!", class: "btn btn-success" %>
			</div>
		</div>
		<%end%>
	</div>

	<div class=container>
		<h2>Questões para esse produto</h2>
		<%= simple_form_for([ @product, @question ]) do |form| %>
			<%= form.input :question %>
			<%= form.button :submit %>
		<% end %>

		<% @questions.each  do |question| %>
			<%= question.question %>
			<% if question.answer != nil %>
				<h4><%= question.answer %></h4>
			<% end %>
		<% end %>
	</div>

	<div class="map-css" id="map">
		<% content_for(:after_js) do %>
			<%= javascript_tag do %>
				$(document).ready(function() {
					var handler = Gmaps.build('Google');
					handler.buildMap({ internal: { id: 'map' } }, function() {
						markers = handler.addMarkers(<%= raw @hash.to_json %>);
						handler.bounds.extendWith(markers);
						handler.fitMapToBounds();
						if (markers.length == 0) {
							handler.getMap().setZoom(6);
						}
					});
				});
			<% end %>
		<% end %>
	</div>
</div>
